#nav {
  padding: 0;
}
#nav li {
    list-style-type: none;
    float: left;
    margin: 0;
    padding: 0;
    width: 25%;
}
#nav a:link, a:visited {
  display: block;
  color: #ebe3ce;
  background-color: #8B0000;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 4px;
  font-family: Helvetica, Arial, sans-serif;
}
p{
	color: #666666;
    font-family: Helvetica, Arial, sans-serif;
}
h1{
    font-family: Georgia, "Times New Roman", serif;
    color: #8B0000;
    text-align: center;
}
h2{
  font-family: Georgia, "Times New Roman", serif;
  color: #8B0000;
}
body{
    background-color: #ebe3ce;
}
img{
    border: none;
}
#container{
  width:95%;
  background-color: #ffffff;
  margin: 0 auto;
}
.caption{
  font-style:italic;
  font-family: Georgia, "Times New Roman", serif;
  font-size:0.8em;
  margin-top:0;
  text-align: right;
}
#footer {
  font-size: 0.8em;
  text-align: left;
  font-family: Georgia, "Times New Roman", serif;
  border-top: 1px solid #8B0000;
}

#nav a:link, a:visited{
  font-weight: bold;
}
#nav a:hover, a:active{
  color: #ebe3ce;
  background-color: #000000;
}
